$white: #ffffff;
$black: #000000;
$textColor: #222222;
$cloneColor: #8b8c90;
$selectorBorderColor: rgba(0,0,0,.2);
$selectBorderActive: #fc0;
$citiesButtonColor: #ffdb4d;
$citiesBorderHoverColor: #b3b3b3;
$selectorBgActive: #ffeba0;
$linkColor: #4b4b99;
$linkHoverColor: #d00;
$descColor: #444;
$durationColor: #777;
$templateBg: #f3f1ed;
$homeBtnColor: #e9ecef;
$homeBtnColorHover: #d9d9d9;
$stationsBgColor: #faf8f2;
$advertBorder: #f2f2f2;
$departedBtnColor: #669;
