.cities{
  &__fields, &__names{
    @include flex(row nowrap, flex-start, flex-start);
  }

  &__fields{
    transition: opacity 0.3s;
    position: relative;
    &.light{
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__notification{
    position: absolute;
    padding: 10px;
    background: $notificationColor;
    border-radius: 7px;
    text-transform: uppercase;
    color: $white;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    top: -50px;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s;
    &.active{
      z-index: 3;
      opacity: 1;
    }

    &:after{
      content: '';
      position: absolute;
      right: 20px;
      bottom: -30px;
      border: 15px solid transparent;
      border-top: 15px solid $notificationColor;
    }
  }

  &__places{
    flex-grow: 1;
  }

  &__names{
    flex-grow: 1;
    margin-bottom: 10px;
  }

  &__input{
    font-size: 18px;
    line-height: 24px;
    padding: 10px 15px;
    border: 1px solid $selectorBorderColor;
    width: 100%;
    box-sizing: border-box;
    outline: none;

    &.active{
      outline: 2px solid $selectBorderActive;
      outline-offset: -2px;
    }

    &:hover{
      border: 1px solid $citiesBorderHoverColor;
    }

    &_from, &_to{
      border-right-color: transparent;
    }
    &_to, &_date{
      border-left-color: transparent;
    }

    &_date{
      cursor: pointer;
    }

    &-wrapper{
      position: relative;
      flex-grow: 1;

      &_date{
        margin-bottom: 10px;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 10px;
          height: 26px;
          width: 1px;
          background: $selectorBorderColor;
          z-index: 2;
        }
        &:after{
          position: absolute;
          content: '';
          top: 0;
          bottom: 0;
          margin: auto;
          right: 5px;
          width: 35px;
          height: 27px;
          background: url("../src/assets/img/calendar.png") no-repeat center / cover;
        }
      }
    }
  }

  &__button{
    font-size: 18px;
    line-height: 24px;
    padding: 10px 15px;
    background-color: $citiesButtonColor;
    width: 100px;
    border-radius: 0 3px 3px 0;
    transition: background-color 0.3s;
    border: 1px solid $citiesButtonColor;

    &:hover{
      background-color: $selectBorderActive;
    }
  }

  &__change{
    width: 50px;
    height: 46px;
    position: relative;
    border-top: 1px solid $selectorBorderColor;
    border-bottom: 1px solid $selectorBorderColor;
    &:after, &:before{
      content: '';
      position: absolute;
      right: -1px;
      top: 10px;
      height: 26px;
      width: 1px;
      background: $selectorBorderColor;
      z-index: 2;
    }
    &:before{
      right: auto;
      left: -1px;
    }

    &:hover{
      border: 1px solid $citiesBorderHoverColor;
      &:after, &:before{
        content: none;
      }
    }

    &-arrow{
      width: 35px;
      margin-top: 5px;
    }
  }

  &__date{
    flex-grow: 1;
    &-text{
      cursor: default;
    }
  }

  &__last{
    cursor: default;
    @include flex(row nowrap, flex-start, flex-start);
  }
}
