.list{
  list-style: none;
  position: absolute;
  z-index: -1;
  border: 1px solid $selectorBorderColor;
  top: 51px;
  background: $white;
  box-shadow: 5px 4px 15px -5px rgba(34, 60, 80, 0.2);
  opacity: 0;
  transition: opacity 0.3s;
  width: max-content;

  &_last{
    top: 20px;
  }

  &.active{
    opacity: 1;
    z-index: 2;
  }

  &__item{
    cursor: pointer;
    padding: 10px;
    font-size: 13px;
    line-height: 18px;
    &:hover{
      background-color: $selectorBgActive;
    }
  }

  &_home{
    opacity: 1;
    z-index: 1;
    border: none;
    position: static;
    box-shadow: none;
    width: 100%;
  }

  &_station{
    top: -5px;
    right: -80px;
  }
}

