.footer{
  border-top: 1px solid $black;
  background: $templateBg;

  &__container{
    @include flex(row nowrap, space-between, flex-start);
  }

  &__block{
    &:first-child{
      margin-right: auto;
    }
    &:nth-child(2){
      width: 100px;
      margin-right: 15px;
      position: relative;
      padding-right: 15px;

      &:after{
        content: '';
        position: absolute;
        top: -5px;
        right: 0;
        height: 40px;
        width: 1px;
        background: $selectorBorderColor;
      }
    }
  }

  &__link{
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    color: $textColor;
    transition: opacity 0.3s;
    display: inline-block;
    margin-bottom: 5px;

    &:hover{
      opacity: 0.7;
    }

    &-img{
      width: 25px;
      margin-right: 3px;
      vertical-align: middle;
    }
  }

  &__text{
    font-weight: 700;
    margin-left: 5px;
  }
}
