body{
  font-family: 'Yandex-Regular', Arial, Verdana, sans-serif;
}

.container{
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 20px;
}

.main{
  min-height: 1155px;
  @media #{$sm} {
    min-height: 640px;
  }
}

